# https://github.com/marketplace/actions/run-golangci-lint
name: golangci-lint
on: [push, pull_request]
jobs:
  golangci:
    name: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.27